Package: lorascral
Version: x.x-x
Section: base
Priority: optional
Architecture: any
Depends: dotnet-runtime-3.0 (>= 3.0.1)
Maintainer: BlubbFish <dev@blubbfish.net>
Description: Lora-Scral
 Pushes Loratracker data to Monica Scral endpoint
